# Analyzing what affects the number of cab rides in a given 2 year period to decide which company to invest in.

In [2094]:
#Importing pandas
import pandas as pd
#Importing numpy
import numpy as np
# Importing matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
#Importing seaborn
import seaborn as sns

## Part 1:- EDA

In [2095]:
#Importing the datasets provided by Data Glacier
#Importing cab data
df1 = pd.read_csv('Cab_Data.csv')
#Importing city data
df2 = pd.read_csv('City.csv')
#Importing customer ID data
df3 = pd.read_csv('Customer_ID.csv')
#Importing transaction ID data
df4 = pd.read_csv('Transaction_ID.csv')
#Creating a list for these dataframes
dgdfs = [df1, df2, df3, df4]
#Naming what these dataframes contain
dgdfnames = ["All the data", "Data about the cities", "Data about the customers", "Data for the transactions"]

In [2096]:
#Looking at the shape of the dataframes
datashape = [x.shape for x in dgdfs]
for (x,y) in zip(dgdfnames, datashape):
    print(x + " : " + str(y))

All the data : (359392, 7)
Data about the cities : (20, 3)
Data about the customers : (49171, 4)
Data for the transactions : (440098, 3)

The main dataframe has 359392 rows and 7 columns. There are 20 rows and 3 columns for the city data, 49171 rows and 4 columns in the customer data and 440098 and 3 columns in the data about each transaction.

In [2097]:
#Looking at the shape of the dataframes
datasize = [x.memory_usage(deep=True).sum() for x in dgdfs]
for (x,y) in zip(dgdfnames, datasize):
    print(x + " : " + str(y))

All the data : 62831931
Data about the cities : 4124
Data about the customers : 4224881
Data for the transactions : 33887674

The observations above are in binary bytes. Thus, I will convert them to a human readable format and then pass in this list.

In [2098]:
#This function is defined to convert a size in bytes to a human-readable format in KB, MB, or GB

def convert_size(size_bytes):

    KB = 1024
    MB = KB ** 2
    GB = KB ** 3

    if size_bytes >= GB:
        size_str = f"{size_bytes / GB:.2f} GB"
    elif size_bytes >= MB:
        size_str = f"{size_bytes / MB:.2f} MB"
    elif size_bytes >= KB:
        size_str = f"{size_bytes / KB:.2f} KB"
    else:
        size_str = f"{size_bytes} bytes"
    return size_str

In [2099]:
for x in datasize:
    finaldatasize = convert_size(x)
    print(finaldatasize)

59.92 MB
4.03 KB
4.03 MB
32.32 MB

The dataset with all the data has a size of 59.92 MB, the city dataset has a size of 4.03 KB, the customer dataset has a size of 4.03 MB and the transactions dataset has a size of 32.32 MB.

In [2100]:
#Printing out the column names for each dataframe
datacolumns = [x.columns for x in dgdfs]
for (x,y) in zip(dgdfnames, datacolumns):
    print(x + " : " + str(y))

All the data : Index(['Transaction ID', 'Date of Travel', 'Company', 'City', 'KM Travelled',
       'Price Charged', 'Cost of Trip'],
      dtype='object')
Data about the cities : Index(['City', 'Population', 'Users'], dtype='object')
Data about the customers : Index(['Customer ID', 'Gender', 'Age', 'Income (USD/Month)'], dtype='object')
Data for the transactions : Index(['Transaction ID', 'Customer ID', 'Payment_Mode'], dtype='object')

The column names are 'Transaction ID', 'Date of Travel', 'Company', 'City', 'KM Travelled',  'Price Charged' and 'Cost of Trip' 
for the main dataframe, City', 'Population' and 'Users' for the data about cities, 'Customer ID', 'Gender', 'Age' and 'Income (USD/Month)' for the data about customers and 'Transaction ID', 'Customer ID', 'Payment_Mode' for the data about transactions.

In [2101]:
#Looking at some general information for these columns in these dataframes
datainfo = [x.info() for x in dgdfs]
print(datainfo)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359392 entries, 0 to 359391
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  359392 non-null  int64
 1   Date of Travel  359392 non-null  int64
 2   Company         359392 non-null  object
 3   City            359392 non-null  object
 4   KM Travelled    359392 non-null  float64
 5   Price Charged   359392 non-null  float64
 6   Cost of Trip    359392 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 19.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        20 non-null     object
 1   Population  20 non-null     object
 2   Users       20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49171 entries, 0 to 49170
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         49171 non-null  int64
 1   Gender              49171 non-null  object
 2   Age                 49171 non-null  int64
 3   Income (USD/Month)  49171 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440098 entries, 0 to 440097
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Transaction ID  440098 non-null  int64
 1   Customer ID     440098 non-null  int64
 2   Payment_Mode    440098 non-null  object
dtypes: int64(2), object(1)
memory usage: 10.1+ MB
[None, None, None, None]

By looking into these tables, we can see that df1 is the raw data for every single ride and the next three tables are related to the first table by including specific information on the cities, customers and transactions of these rides.

There is not a single null value in the entire dataframe. In the main dataframe, there are 7 variables, 2 of which are categorical variables('Company' and 'City'), 2 int64 variables('Transaction ID' and 'Date of Travel') and finally 3 float64 variables('KM Travelled', 'Cost of Trip' and 'Price Charged'). In the city dataframe, all the columns are categorical. In the customer dataframe, everything is of the int64 data type except gender which is categorical and the same is true for the transaction dataframe where the categorical variable is the Payment_Mode. We will need to convert the Date of Travel column from an int64 datatype to a date datatype.

In [2102]:
#These lines of code are used to convert the 'Date of Travel' column from an int64 data type to a date data type
#Importing the datetime model
from datetime import datetime, timedelta

#Creating a function to convert the dates from int64 to date objects
def to_date(x):


    formats = ["%mm/%dd/%YYYY", "%YYYY-%mm-%dd"]

    # Add the number of days to January 1, 1900 to get the corresponding date
    if type(x) == int: 
        date_obj = datetime(1900, 1, 1) + timedelta(x - 2)
        return date_obj
    elif type(x) == str and x.format() in formats:
        date_obj = datetime.strptime(x, x.format()) 
        return date_obj   
    else:
        return None

#Creating an empty list
y = []

#This loop converts the date values from an int64 list to a list of date objects
for x in df1['Date of Travel']:
    a = to_date(x)
    y.append(a)
    
#Dropping the date of travel column    
df1 = df1.drop(columns='Date of Travel', axis=1)

#Adding a new column to the dataframe
df1['Date of Travel'] = pd.Series(y)

#Replacing the old data frame with a new one
dgdfs.pop(0)
dgdfs.insert(0, df1)

#Viewing the dataframe
print(df1)

        Transaction ID     Company           City  KM Travelled  \
0             10000011    Pink Cab     ATLANTA GA         30.45
1             10000012    Pink Cab     ATLANTA GA         28.62
2             10000013    Pink Cab     ATLANTA GA          9.04
3             10000014    Pink Cab     ATLANTA GA         33.17
4             10000015    Pink Cab     ATLANTA GA          8.73
...                ...         ...            ...           ...
359387        10440101  Yellow Cab  WASHINGTON DC          4.80
359388        10440104  Yellow Cab  WASHINGTON DC          8.40
359389        10440105  Yellow Cab  WASHINGTON DC         27.75
359390        10440106  Yellow Cab  WASHINGTON DC          8.80
359391        10440107  Yellow Cab  WASHINGTON DC         12.76

        Price Charged  Cost of Trip Date of Travel
0              370.95      313.6350     2016-01-08
1              358.52      334.8540     2016-01-06
2              125.20       97.6320     2016-01-02
3              377.40      351.6020     2016-01-07
4              114.62       97.7760     2016-01-03
...               ...           ...            ...
359387          69.24       63.3600     2018-01-08
359388         113.75      106.8480     2018-01-04
359389         437.07      349.6500     2018-01-05
359390         146.19      114.0480     2018-01-05
359391         191.58      177.6192     2018-01-02

[359392 rows x 7 columns]

In [2103]:
#Taking a high-level look at all the data's first twenty rows for all twenty rows
dataskim = [x.head(n=20) for x in dgdfs]
for (x,y) in zip(dgdfnames, dataskim):
    print(x + " : " + str(y))

All the data :     Transaction ID   Company        City  KM Travelled  Price Charged  \
0         10000011  Pink Cab  ATLANTA GA         30.45         370.95
1         10000012  Pink Cab  ATLANTA GA         28.62         358.52
2         10000013  Pink Cab  ATLANTA GA          9.04         125.20
3         10000014  Pink Cab  ATLANTA GA         33.17         377.40
4         10000015  Pink Cab  ATLANTA GA          8.73         114.62
5         10000016  Pink Cab  ATLANTA GA          6.06          72.43
6         10000017  Pink Cab   AUSTIN TX         44.00         576.15
7         10000018  Pink Cab   AUSTIN TX         35.65         466.10
8         10000019  Pink Cab   BOSTON MA         14.40         191.61
9         10000020  Pink Cab   BOSTON MA         10.89         156.98
10        10000021  Pink Cab   BOSTON MA         39.60         570.83
11        10000022  Pink Cab   BOSTON MA         21.80         317.27
12        10000023  Pink Cab   BOSTON MA         12.00         158.01
13        10000024  Pink Cab   BOSTON MA         32.67         470.94
14        10000025  Pink Cab   BOSTON MA         25.52         360.79
15        10000026  Pink Cab   BOSTON MA         15.54         234.78
16        10000027  Pink Cab   BOSTON MA          6.65         101.39
17        10000028  Pink Cab   BOSTON MA         34.22         498.02
18        10000029  Pink Cab   BOSTON MA         21.34         324.21
19        10000030  Pink Cab   BOSTON MA         41.30         646.06

    Cost of Trip Date of Travel
0        313.635     2016-01-08
1        334.854     2016-01-06
2         97.632     2016-01-02
3        351.602     2016-01-07
4         97.776     2016-01-03
5         63.024     2016-01-07
6        475.200     2016-01-03
7        377.890     2016-01-07
8        146.880     2016-01-12
9        113.256     2016-01-06
10       475.200     2016-01-11
11       220.180     2016-01-06
12       134.400     2016-01-11
13       392.040     2016-01-06
14       298.584     2016-01-08
15       169.386     2016-01-10
16        76.475     2016-01-07
17       407.218     2016-01-08
18       226.204     2016-01-02
19       454.300     2016-01-02
Data about the cities :                 City   Population      Users
0        NEW YORK NY   8,405,837    302,149
1         CHICAGO IL   1,955,130    164,468
2     LOS ANGELES CA   1,595,037    144,132
3           MIAMI FL   1,339,155     17,675
4     SILICON VALLEY   1,177,609     27,247
5      ORANGE COUNTY   1,030,185     12,994
6       SAN DIEGO CA     959,307     69,995
7         PHOENIX AZ     943,999      6,133
8          DALLAS TX     942,908     22,157
9         ATLANTA GA     814,885     24,701
10         DENVER CO     754,233     12,421
11         AUSTIN TX     698,371     14,978
12        SEATTLE WA     671,238     25,063
13         TUCSON AZ     631,442      5,712
14  SAN FRANCISCO CA     629,591    213,609
15     SACRAMENTO CA     545,776      7,044
16     PITTSBURGH PA     542,085      3,643
17     WASHINGTON DC     418,859    127,001
18      NASHVILLE TN     327,225      9,270
19         BOSTON MA     248,968     80,021
Data about the customers :     Customer ID Gender  Age  Income (USD/Month)
0         29290   Male   28               10813
1         27703   Male   27                9237
2         28712   Male   53               11242
3         28020   Male   23               23327
4         27182   Male   33                8536
5         27318   Male   25               13984
6         33788   Male   23               23788
7         34106   Male   19               19980
8         59799   Male   33               19271
9         57982   Male   57                5068
10        58774   Male   20               23602
11        58627   Male   28               27338
12        59007   Male   63                6683
13        58215   Male   25                6862
14        59372   Male   53                4912
15        57950   Male   58               16997
16        59533   Male   29               17520
17        58346   Male   27               21650
18        58925   Male   38               26550
19        58551   Male   25               21734
Data for the transactions :     Transaction ID  Customer ID Payment_Mode
0         10000011        29290         Card
1         10000012        27703         Card
2         10000013        28712         Cash
3         10000014        28020         Cash
4         10000015        27182         Card
5         10000016        27318         Cash
6         10000017        33788         Card
7         10000018        34106         Card
8         10000019        59799         Cash
9         10000020        57982         Cash
10        10000021        58774         Cash
11        10000022        58627         Card
12        10000023        59007         Card
13        10000024        58215         Cash
14        10000025        59372         Cash
15        10000026        57950         Cash
16        10000027        59533         Card
17        10000028        58346         Cash
18        10000029        58925         Card
19        10000030        58551         Card

In [2104]:
#Looking at basic summary statistics
datastats = [x.describe() for x in dgdfs]
for (x,y) in zip(dgdfnames, datastats):
    print(x + " : " + str(y))

All the data :        Transaction ID   KM Travelled  Price Charged   Cost of Trip
count    3.593920e+05  359392.000000  359392.000000  359392.000000
mean     1.022076e+07      22.567254     423.443311     286.190113
std      1.268058e+05      12.233526     274.378911     157.993661
min      1.000001e+07       1.900000      15.600000      19.000000
25%      1.011081e+07      12.000000     206.437500     151.200000
50%      1.022104e+07      22.440000     386.360000     282.480000
75%      1.033094e+07      32.960000     583.660000     413.683200
max      1.044011e+07      48.000000    2048.030000     691.200000
Data about the cities :                City   Population      Users
count            20           20         20
unique           20           20         20
top     NEW YORK NY   8,405,837    302,149
freq              1            1          1
Data about the customers :         Customer ID           Age  Income (USD/Month)
count  49171.000000  49171.000000        49171.000000
mean   28398.252283     35.363121        15015.631856
std    17714.137333     12.599066         8002.208253
min        1.000000     18.000000         2000.000000
25%    12654.500000     25.000000         8289.500000
50%    27631.000000     33.000000        14656.000000
75%    43284.500000     42.000000        21035.000000
max    60000.000000     65.000000        35000.000000
Data for the transactions :        Transaction ID    Customer ID
count    4.400980e+05  440098.000000
mean     1.022006e+07   23619.513120
std      1.270455e+05   21195.549816
min      1.000001e+07       1.000000
25%      1.011004e+07    3530.000000
50%      1.022006e+07   15168.000000
75%      1.033008e+07   43884.000000
max      1.044011e+07   60000.000000

Here are the most interesting insights from the numerical data we did not already know:-
1) The median km travelled is 22.4 whereas the mean is 22.6 in addition to a standard deviation of 12.2.
2) The median price charged is $386.4, the mean is 423.4 and the numbers have a standard deviation of 274.4. This suggests the highest prices are a lot further from the mean than the lowest prices(2048 vs 15.6)
3) The cost of the trip is much more uniformly distributed with there being a mean of 286.2, a median of 282.5 and a standard deviation of 158.
4) New York City has the highest population with 8405837 people and 302149 users.
5) The average age of the customers is 35.4 and the median is 33. The standard deviation is 12.6.
6) The average income is 15015.6 with a median of 14656 and a standard deviation of 8002.2.
7) The customer IDs range from 1 to 60000.

In [2105]:
#Taking a high-level look at all the data's first twenty rows for all twenty rows
datastats = [x.describe(include="object") for x in dgdfs]
for (x,y) in zip(dgdfnames, datastats):
    print(x + " : " + str(y))

All the data :            Company         City
count       359392       359392
unique           2           19
top     Yellow Cab  NEW YORK NY
freq        274681        99885
Data about the cities :                City   Population      Users
count            20           20         20
unique           20           20         20
top     NEW YORK NY   8,405,837    302,149
freq              1            1          1
Data about the customers :        Gender
count   49171
unique      2
top      Male
freq    26562
Data for the transactions :        Payment_Mode
count        440098
unique            2
top            Card
freq         263991

Interesting insights:-
1) Yellow cabs have the highest number of users with 274681 and New York City had 99885 users.
2) There are more males than females(26562 vs 22609).
3) More transactions are done in card than cash(177907).

In [2106]:
#Looking at the total number of values of each column
for (x,y) in zip(dgdfs, datacolumns):
    for z in y:
        a = x[[z]].value_counts()
        print(a)

Transaction ID
10000011          1
10292640          1
10292648          1
10292647          1
10292646          1
                 ..
10147186          1
10147185          1
10147184          1
10147183          1
10440107          1
Length: 359392, dtype: int64
Date of Travel
2018-01-05        2022
2017-12-15        1123
2017-12-08        1100
2018-12-15        1086
2017-11-24        1085
                  ...
2016-01-19          88
2016-01-12          86
2016-01-11          85
2016-01-05          47
2016-01-04          25
Length: 1095, dtype: int64
Company
Yellow Cab    274681
Pink Cab       84711
dtype: int64
City
NEW YORK NY       99885
CHICAGO IL        56625
LOS ANGELES CA    48033
WASHINGTON DC     43737
BOSTON MA         29692
SAN DIEGO CA      20488
SILICON VALLEY     8519
SEATTLE WA         7997
ATLANTA GA         7557
DALLAS TX          7017
MIAMI FL           6454
AUSTIN TX          4896
ORANGE COUNTY      3982
DENVER CO          3825
NASHVILLE TN       3010
SACRAMENTO CA      2367
PHOENIX AZ         2064
TUCSON AZ          1931
PITTSBURGH PA      1313
dtype: int64
KM Travelled
33.60           1536
24.00           1080
22.80           1075
35.70           1069
16.80           1065
                ...
29.58            308
12.24            306
3.51             301
39.39            300
21.84            293
Length: 874, dtype: int64
Price Charged
298.32           18
191.27           18
115.53           17
181.59           17
216.37           17
                 ..
847.22            1
847.21            1
847.20            1
847.12            1
2048.03           1
Length: 99176, dtype: int64
Cost of Trip
362.880         186
479.808         184
471.744         180
205.632         178
411.264         166
               ...
251.750           1
23.762            1
72.716            1
304.175           1
272.646           1
Length: 16291, dtype: int64
City
ATLANTA GA          1
AUSTIN TX           1
TUCSON AZ           1
SILICON VALLEY      1
SEATTLE WA          1
SAN FRANCISCO CA    1
SAN DIEGO CA        1
SACRAMENTO CA       1
PITTSBURGH PA       1
PHOENIX AZ          1
ORANGE COUNTY       1
NEW YORK NY         1
NASHVILLE TN        1
MIAMI FL            1
LOS ANGELES CA      1
DENVER CO           1
DALLAS TX           1
CHICAGO IL          1
BOSTON MA           1
WASHINGTON DC       1
dtype: int64
Population
 1,030,185     1
 1,177,609     1
 943,999       1
 942,908       1
 814,885       1
 8,405,837     1
 754,233       1
 698,371       1
 671,238       1
 631,442       1
 629,591       1
 545,776       1
 542,085       1
 418,859       1
 327,225       1
 248,968       1
 1,955,130     1
 1,595,037     1
 1,339,155     1
 959,307       1
dtype: int64
Users
 12,421      1
 12,994      1
 80,021      1
 7,044       1
 69,995      1
 6,133       1
 5,712       1
 302,149     1
 3,643       1
 27,247      1
 25,063      1
 24,701      1
 22,157      1
 213,609     1
 17,675      1
 164,468     1
 144,132     1
 14,978      1
 127,001     1
 9,270       1
dtype: int64
Customer ID
1              1
36960          1
37512          1
37513          1
37514          1
              ..
17511          1
17512          1
17513          1
17515          1
60000          1
Length: 49171, dtype: int64
Gender
Male      26562
Female    22609
dtype: int64
Age
20     1641
34     1629
39     1624
23     1615
25     1597
22     1596
28     1588
32     1585
26     1577
37     1575
30     1573
27     1571
19     1561
40     1561
21     1554
18     1551
31     1549
24     1547
36     1534
38     1512
29     1511
35     1503
33     1495
61      580
59      552
45      551
46      540
47      539
49      539
52      539
50      538
58      536
64      536
48      533
43      532
42      526
51      525
41      523
56      521
63      512
53      510
54      506
55      504
60      501
57      498
62      497
44      492
65      492
dtype: int64
Income (USD/Month)
8497                  11
16512                 10
8756                  10
21804                  9
9827                   9
                      ..
8372                   1
20322                  1
20323                  1
8368                   1
35000                  1
Length: 23341, dtype: int64
Transaction ID
10000011          1
10293418          1
10293416          1
10293415          1
10293414          1
                 ..
10146707          1
10146706          1
10146705          1
10146704          1
10440108          1
Length: 440098, dtype: int64
Customer ID
494            54
2939           53
1070           51
2766           51
126            50
               ..
26341           1
26340           1
23743           1
26333           1
41275           1
Length: 49171, dtype: int64
Payment_Mode
Card            263991
Cash            176107
dtype: int64

Interesting insights:-
1) All transactions had a unique ID.
2) The most common date of travel was 2018-01-05 with 2022 unique results.
3) Chicago, LA, DC and Boston were the next highest users of cabs.
4) The most common price charged was $298.32.
5) The trip cost $362.88.
6) 20 year olds were the most common users of taxis followed by 34, 39 and 23 year olds in this data.

In [2107]:
#Looking at the percentage of each value in each column
for (x,y) in zip(dgdfs, datacolumns):
    for z in y:
        a = x[[z]].value_counts(normalize = True)
        print(a)

Transaction ID
10000011          0.000003
10292640          0.000003
10292648          0.000003
10292647          0.000003
10292646          0.000003
                    ...
10147186          0.000003
10147185          0.000003
10147184          0.000003
10147183          0.000003
10440107          0.000003
Length: 359392, dtype: float64
Date of Travel
2018-01-05        0.005626
2017-12-15        0.003125
2017-12-08        0.003061
2018-12-15        0.003022
2017-11-24        0.003019
                    ...
2016-01-19        0.000245
2016-01-12        0.000239
2016-01-11        0.000237
2016-01-05        0.000131
2016-01-04        0.000070
Length: 1095, dtype: float64
Company
Yellow Cab    0.764294
Pink Cab      0.235706
dtype: float64
City
NEW YORK NY       0.277928
CHICAGO IL        0.157558
LOS ANGELES CA    0.133651
WASHINGTON DC     0.121697
BOSTON MA         0.082617
SAN DIEGO CA      0.057007
SILICON VALLEY    0.023704
SEATTLE WA        0.022251
ATLANTA GA        0.021027
DALLAS TX         0.019525
MIAMI FL          0.017958
AUSTIN TX         0.013623
ORANGE COUNTY     0.011080
DENVER CO         0.010643
NASHVILLE TN      0.008375
SACRAMENTO CA     0.006586
PHOENIX AZ        0.005743
TUCSON AZ         0.005373
PITTSBURGH PA     0.003653
dtype: float64
KM Travelled
33.60           0.004274
24.00           0.003005
22.80           0.002991
35.70           0.002974
16.80           0.002963
                  ...
29.58           0.000857
12.24           0.000851
3.51            0.000838
39.39           0.000835
21.84           0.000815
Length: 874, dtype: float64
Price Charged
298.32           0.000050
191.27           0.000050
115.53           0.000047
181.59           0.000047
216.37           0.000047
                   ...
847.22           0.000003
847.21           0.000003
847.20           0.000003
847.12           0.000003
2048.03          0.000003
Length: 99176, dtype: float64
Cost of Trip
362.880         0.000518
479.808         0.000512
471.744         0.000501
205.632         0.000495
411.264         0.000462
                  ...
251.750         0.000003
23.762          0.000003
72.716          0.000003
304.175         0.000003
272.646         0.000003
Length: 16291, dtype: float64
City
ATLANTA GA          0.05
AUSTIN TX           0.05
TUCSON AZ           0.05
SILICON VALLEY      0.05
SEATTLE WA          0.05
SAN FRANCISCO CA    0.05
SAN DIEGO CA        0.05
SACRAMENTO CA       0.05
PITTSBURGH PA       0.05
PHOENIX AZ          0.05
ORANGE COUNTY       0.05
NEW YORK NY         0.05
NASHVILLE TN        0.05
MIAMI FL            0.05
LOS ANGELES CA      0.05
DENVER CO           0.05
DALLAS TX           0.05
CHICAGO IL          0.05
BOSTON MA           0.05
WASHINGTON DC       0.05
dtype: float64
Population
 1,030,185     0.05
 1,177,609     0.05
 943,999       0.05
 942,908       0.05
 814,885       0.05
 8,405,837     0.05
 754,233       0.05
 698,371       0.05
 671,238       0.05
 631,442       0.05
 629,591       0.05
 545,776       0.05
 542,085       0.05
 418,859       0.05
 327,225       0.05
 248,968       0.05
 1,955,130     0.05
 1,595,037     0.05
 1,339,155     0.05
 959,307       0.05
dtype: float64
Users
 12,421      0.05
 12,994      0.05
 80,021      0.05
 7,044       0.05
 69,995      0.05
 6,133       0.05
 5,712       0.05
 302,149     0.05
 3,643       0.05
 27,247      0.05
 25,063      0.05
 24,701      0.05
 22,157      0.05
 213,609     0.05
 17,675      0.05
 164,468     0.05
 144,132     0.05
 14,978      0.05
 127,001     0.05
 9,270       0.05
dtype: float64
Customer ID
1              0.00002
36960          0.00002
37512          0.00002
37513          0.00002
37514          0.00002
                ...
17511          0.00002
17512          0.00002
17513          0.00002
17515          0.00002
60000          0.00002
Length: 49171, dtype: float64
Gender
Male      0.540196
Female    0.459804
dtype: float64
Age
20     0.033373
34     0.033129
39     0.033028
23     0.032845
25     0.032478
22     0.032458
28     0.032295
32     0.032234
26     0.032072
37     0.032031
30     0.031990
27     0.031950
19     0.031746
40     0.031746
21     0.031604
18     0.031543
31     0.031502
24     0.031462
36     0.031197
38     0.030750
29     0.030729
35     0.030567
33     0.030404
61     0.011796
59     0.011226
45     0.011206
46     0.010982
47     0.010962
49     0.010962
52     0.010962
50     0.010941
58     0.010901
64     0.010901
48     0.010840
43     0.010819
42     0.010697
51     0.010677
41     0.010636
56     0.010596
63     0.010413
53     0.010372
54     0.010291
55     0.010250
60     0.010189
57     0.010128
62     0.010108
44     0.010006
65     0.010006
dtype: float64
Income (USD/Month)
8497                  0.000224
16512                 0.000203
8756                  0.000203
21804                 0.000183
9827                  0.000183
                        ...
8372                  0.000020
20322                 0.000020
20323                 0.000020
8368                  0.000020
35000                 0.000020
Length: 23341, dtype: float64
Transaction ID
10000011          0.000002
10293418          0.000002
10293416          0.000002
10293415          0.000002
10293414          0.000002
                    ...
10146707          0.000002
10146706          0.000002
10146705          0.000002
10146704          0.000002
10440108          0.000002
Length: 440098, dtype: float64
Customer ID
494            0.000123
2939           0.000120
1070           0.000116
2766           0.000116
126            0.000114
                 ...
26341          0.000002
26340          0.000002
23743          0.000002
26333          0.000002
41275          0.000002
Length: 49171, dtype: float64
Payment_Mode
Card            0.599846
Cash            0.400154
dtype: float64

Interesting insights:-
1) 76.4% of users used yellow cabs.
2) 27.8% of users rode in New York City.
3) 0.43% of users travelled 33.6 km.
4) 0.005% of users were charged $298.32 or $191.72 which were the most common prices.
5) 0.052% and 0.051% of trips cost $362.88 or $479.808 which were the most common observations.
6) 54% of riders were men.
7) 3.33% of riders were 20 years old.
8) The most common income was $8497 which had 0.02 percent of incomes.

## Part 2:- External datasets EDA

In [2108]:
#Importing external datasets
#Importing cab data
df5 = pd.read_csv('inflationrate.csv')
#Importing city data
df6 = pd.read_csv('macroeconomics.csv')
#Importing customer ID data
df7 = pd.read_csv('US Holiday Dates (2004-2021).csv')
#Creating a list for these dataframes
extdfs = [df5, df6, df7]
#Naming what these dataframes contain
extdfnames = ["Inflation data", "Macroeconomic data", "Holiday data"]

In [2109]:
#Looking at the shape of the dataframes
datashape = [x.shape for x in extdfs]
for (x,y) in zip(extdfnames, datashape):
    print(x + " : " + str(y))

Inflation data : (123, 3)
Macroeconomic data : (499, 8)
Holiday data : (342, 6)

The inflation data has 123 rows and 3 columns. The macroeconomic data has 499 rows and 8 columns. The holiday data has 342 rows and 6 columns.

In [2110]:
#Looking at the size of the dataframes
datasize = [x.memory_usage(deep=True).sum() for x in extdfs]
for (x,y) in zip(extdfnames, datasize):
    print(x + " : " + str(y))

Inflation data : 9845
Macroeconomic data : 60632
Holiday data : 78984

In [2111]:
#Converting the file size to kB.
for x in datasize:
    finaldatasize = convert_size(x)
    print(finaldatasize)

9.61 KB
59.21 KB
77.13 KB

Inflation data has a file size of 9.61 kB, the macroeconomic data is 59.21 kB and the holiday data is 77.13 kB.

In [2112]:
#Printing out the column names for each dataframe
datacolumns = [x.columns for x in extdfs]
for (x,y) in zip(extdfnames, datacolumns):
    print(x + " : " + str(y))

Inflation data : Index(['Month', 'Monthly Inflation Rate', 'Annual Inflation Rate'], dtype='object')
Macroeconomic data : Index(['date', 'CPI', 'Mortgage_rate', 'Unemp_rate', 'NASDAQ',
       'disposable_income', 'Personal_consumption_expenditure',
       'personal_savings'],
      dtype='object')
Holiday data : Index(['Date', 'Holiday', 'WeekDay', 'Month', 'Day', 'Year'], dtype='object')

The inflation data has columns 'Month', 'Monthly Inflation Rate', and 'Annual Inflation Rate'. The macroeconomic data has columns 'date', 'CPI', 'Mortgage_rate', 'Unemp_rate', 'NASDAQ', 'disposable_income', 'Personal_consumption_expenditure', 'personal_savings' and the holiday data has columns 'Date', 'Holiday', 'WeekDay', 'Month', 'Day', and 'Year'.

In [2113]:
#Looking at some general information for these columns in these dataframes
datainfo = [x.info() for x in extdfs]
print(datainfo)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month                   123 non-null    object
 1   Monthly Inflation Rate  123 non-null    float64
 2   Annual Inflation Rate   123 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              499 non-null    object
 1   CPI                               499 non-null    float64
 2   Mortgage_rate                     499 non-null    float64
 3   Unemp_rate                        499 non-null    float64
 4   NASDAQ                            499 non-null    float64
 5   disposable_income                 499 non-null    float64
 6   Personal_consumption_expenditure  499 non-null    float64
 7   personal_savings                  499 non-null    float64
dtypes: float64(7), object(1)
memory usage: 31.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     342 non-null    object
 1   Holiday  342 non-null    object
 2   WeekDay  342 non-null    object
 3   Month    342 non-null    int64
 4   Day      342 non-null    int64
 5   Year     342 non-null    int64
dtypes: int64(3), object(3)
memory usage: 16.2+ KB
[None, None, None]

In [2114]:
#Taking a high-level look at all the data's first twenty rows for all twenty rows
dataskim = [x.head(n=20) for x in extdfs]
for (x,y) in zip(extdfnames, dataskim):
    print(x + " : " + str(y))

Inflation data :      Month  Monthly Inflation Rate  Annual Inflation Rate
0   23-Mar                     0.1                    5.0
1   23-Feb                     0.4                    6.0
2   23-Jan                     0.5                    6.4
3   22-Dec                     0.1                    6.5
4   22-Nov                     0.2                    7.1
5   22-Oct                     0.5                    7.7
6   22-Sep                     0.4                    8.2
7   22-Aug                     0.2                    8.3
8   22-Jul                     0.0                    8.5
9   22-Jun                     1.2                    9.1
10  22-May                     0.9                    8.6
11  22-Apr                     0.4                    8.3
12  22-Mar                     1.0                    8.5
13  22-Feb                     0.7                    7.9
14  22-Jan                     0.6                    7.5
15  21-Dec                     0.8                    7.0
16  21-Nov                     0.8                    6.8
17  21-Oct                     0.9                    6.2
18  21-Sep                     0.4                    5.4
19  21-Aug                     0.4                    5.3
Macroeconomic data :          date   CPI  Mortgage_rate  Unemp_rate      NASDAQ  disposable_income  \
0   11/1/1980  85.6        14.2050         7.5  200.685556             4976.5
1   12/1/1980  86.4        14.7900         7.2  198.398636             4999.8
2    1/1/1981  87.2        14.9040         7.5  198.817619             4980.4
3    2/1/1981  88.0        15.1325         7.4  194.852105             4965.0
4    3/1/1981  88.6        15.4000         7.4  203.593182             4979.0
5    4/1/1981  89.1        15.5800         7.2  215.120000             4965.1
6    5/1/1981  89.7        16.4020         7.5  216.543500             4974.8
7    6/1/1981  90.5        16.6950         7.5  220.040455             5001.9
8    7/1/1981  91.5        16.8320         7.2  209.720909             5080.8
9    8/1/1981  92.2        17.2850         7.4  206.626191             5095.9
10   9/1/1981  93.1        18.1600         7.6  185.372381             5087.2
11  10/1/1981  93.4        18.4540         7.9  190.201364             5093.8
12  11/1/1981  93.8        17.8250         8.3  199.229000             5096.9
13  12/1/1981  94.1        16.9460         8.5  197.149545             5090.2
14   1/1/1982  94.4        17.4850         8.6  187.678500             5096.9
15   2/1/1982  94.7        17.5975         8.9  182.628421             5110.8
16   3/1/1982  94.7        17.1600         9.0  173.283913             5110.0
17   4/1/1982  95.0        16.8920         9.3  181.844286             5160.6
18   5/1/1982  95.9        16.6775         9.4  184.607000             5139.0
19   6/1/1982  97.0        16.6975         9.6  172.075000             5110.7

    Personal_consumption_expenditure  personal_savings
0                             1826.8              11.6
1                             1851.7              11.4
2                             1870.0              10.9
3                             1884.2              10.8
4                             1902.9              10.8
5                             1904.4              10.9
6                             1913.8              11.0
7                             1934.5              10.8
8                             1942.1              12.3
9                             1966.6              12.0
10                            1965.5              12.4
11                            1963.9              13.0
12                            1970.6              13.2
13                            1988.8              12.5
14                            1997.1              12.7
15                            2021.2              12.1
16                            2024.1              12.2
17                            2026.3              12.9
18                            2044.5              12.3
19                            2048.1              12.3
Holiday data :           Date        Holiday    WeekDay  Month  Day  Year
0   2004-07-04    4th of July     Sunday      7    4  2004
1   2005-07-04    4th of July     Monday      7    4  2005
2   2006-07-04    4th of July    Tuesday      7    4  2006
3   2007-07-04    4th of July  Wednesday      7    4  2007
4   2008-07-04    4th of July     Friday      7    4  2008
5   2009-07-04    4th of July   Saturday      7    4  2009
6   2010-07-04    4th of July     Sunday      7    4  2010
7   2011-07-04    4th of July     Monday      7    4  2011
8   2012-07-04    4th of July  Wednesday      7    4  2012
9   2013-07-04    4th of July   Thursday      7    4  2013
10  2014-07-04    4th of July     Friday      7    4  2014
11  2015-07-04    4th of July   Saturday      7    4  2015
12  2016-07-04    4th of July     Monday      7    4  2016
13  2017-07-04    4th of July    Tuesday      7    4  2017
14  2018-07-04    4th of July  Wednesday      7    4  2018
15  2019-07-04    4th of July   Thursday      7    4  2019
16  2020-07-04    4th of July   Saturday      7    4  2020
17  2021-07-04    4th of July     Sunday      7    4  2021
18  2004-12-25  Christmas Day   Saturday     12   25  2004
19  2005-12-25  Christmas Day     Sunday     12   25  2005

In [2115]:
#Looking at basic summary statistics
datastats = [x.describe() for x in extdfs]
for (x,y) in zip(extdfnames, datastats):
    print(x + " : " + str(y))

Inflation data :        Monthly Inflation Rate  Annual Inflation Rate
count              123.000000             123.000000
mean                 0.217073               2.565041
std                  0.289632               2.305410
min                 -0.800000              -0.200000
25%                  0.100000               1.250000
50%                  0.200000               1.800000
75%                  0.400000               2.500000
max                  1.200000               9.100000
Macroeconomic data :               CPI  Mortgage_rate  Unemp_rate        NASDAQ  disposable_income  \
count  499.000000     499.000000  499.000000    499.000000         499.000000
mean   178.774886       7.420819    6.180962   2726.419046        9801.916633
std     53.252920       3.454838    1.781931   3142.577570        3176.282199
min     85.600000       2.684000    3.500000    167.382727        4965.000000
25%    134.950000       4.518750    4.900000    479.524773        6861.450000
50%    177.400000       6.834000    5.700000   1884.730952        9733.900000
75%    227.532500       9.337500    7.250000   3131.357982       12226.100000
max    291.474000      18.454000   14.700000  15814.932860       19119.500000

       Personal_consumption_expenditure  personal_savings
count                        499.000000        499.000000
mean                        7626.305812          7.486573
std                         4092.396137          3.015236
min                         1826.800000          2.100000
25%                         3910.050000          5.850000
50%                         7082.300000          7.200000
75%                        10857.300000          8.600000
max                        16954.500000         33.800000
Holiday data :             Month         Day         Year
count  342.000000  342.000000   342.000000
mean     7.263158   15.853801  2012.500000
std      3.899889    9.653330     5.195729
min      1.000000    1.000000  2004.000000
25%      4.000000    6.000000  2008.000000
50%      9.000000   16.500000  2012.500000
75%     11.000000   24.000000  2017.000000
max     12.000000   31.000000  2021.000000

Key statstics:-
1) Inflation data:- The monthly inflation rate has a mean of 0.22% and a median of 0.20%. It dipped to a minimum of  -0.80% and peaked at 1.20%. The annual inflation rate had an average of 2.57% and a median of 1.805. It ranged from -0.20% to 9.10% and had 2.31% as a measure of spread.
2) Macroeconomic data:- The mean values for the CPI = 178.8%, mortgage rate = 7.42%, Unemployment rate = 6.18%%, disposable income = $9801, and personal consumption expenditure = $7626. The median values are CPI = 177.4, mortgage rate = 6.83%, Unemployment rate = 5.70%, disposable income = $1884.73 and personal consumption expenditure = $7626. The ranges and standard deviations are shown above also.
3) The mean value of the results were early July, halfway through 2012 and late on the 15th day of the month. The range was from New Year's day in 2012 to the last day of 2021.

In [2116]:
#Looking at basic summary statistics
datastats = [x.describe(include = 'object') for x in extdfs]
for (x,y) in zip(extdfnames, datastats):
    print(x + " : " + str(y))

Inflation data :          Month
count      123
unique     123
top     23-Mar
freq         1
Macroeconomic data :              date
count         499
unique        499
top     11/1/1980
freq            1
Holiday data :               Date            Holiday WeekDay
count          342                342     342
unique         336                 18       7
top     2007-04-08  Labor Day Weekend  Monday
freq             2                 36     109

There are 18 seperate holidays with Monday being the most common day for a holiday. 6 values also have two federal holidays on the same day like 04/08/2007. The months in the inflation dataframe and the dates in the macroeconomic data all have unique values.

In [2117]:
#Looking at the total number of values of each column
for (x,y) in zip(extdfs, datacolumns):
    for z in y:
        a = x[[z]].value_counts()
        print(a)

Month
13-Apr    1
20-May    1
20-Jun    1
20-Jul    1
20-Jan    1
         ..
16-Apr    1
15-Sep    1
15-Oct    1
15-Nov    1
23-Mar    1
Length: 123, dtype: int64
Monthly Inflation Rate
 0.2                      29
 0.1                      19
 0.3                      15
 0.4                      14
 0.0                      13
-0.1                       7
 0.5                       7
 0.7                       3
-0.2                       3
 0.8                       3
-0.3                       2
 0.9                       2
 1.0                       1
-0.8                       1
 0.6                       1
-0.6                       1
-0.4                       1
 1.2                       1
dtype: int64
Annual Inflation Rate
 1.7                     8
 1.5                     7
 2.1                     6
 1.6                     6
 2.0                     6
 1.0                     5
 1.4                     5
 2.2                     5
 1.8                     4
 1.2                     4
 1.1                     4
 1.9                     4
 2.5                     4
 0.2                     3
 5.4                     3
 0.0                     3
 2.3                     3
-0.1                     2
 2.7                     2
 2.9                     2
 5.0                     2
 2.4                     2
 1.3                     2
 0.8                     2
 8.3                     2
 8.5                     2
 0.1                     2
 6.4                     1
 7.9                     1
 8.2                     1
 7.7                     1
 7.5                     1
 7.1                     1
 8.6                     1
 7.0                     1
 6.8                     1
 6.5                     1
-0.2                     1
 6.2                     1
 6.0                     1
 5.3                     1
 4.2                     1
 2.8                     1
 2.6                     1
 0.9                     1
 0.7                     1
 0.6                     1
 0.5                     1
 0.3                     1
 9.1                     1
dtype: int64
date
1/1/1981     1
5/1/2016     1
6/1/1987     1
6/1/1986     1
6/1/1985     1
            ..
12/1/2016    1
12/1/2015    1
12/1/2014    1
12/1/2013    1
9/1/2021     1
Length: 499, dtype: int64
CPI
162.000    3
97.700     3
177.400    3
193.700    2
224.806    2
          ..
149.800    1
149.400    1
149.300    1
149.000    1
291.474    1
Length: 475, dtype: int64
Mortgage_rate
6.9520           2
3.0675           2
4.1625           2
8.3200           2
5.2300           2
                ..
5.7200           1
5.7125           1
5.7100           1
5.6950           1
18.4540          1
Length: 481, dtype: int64
Unemp_rate
5.4           24
5.6           19
5.7           18
5.0           16
4.7           16
              ..
8.1            1
8.4            1
9.2            1
8.9            1
14.7           1
Length: 73, dtype: int64
NASDAQ
167.382727      1
2483.240952     1
2606.289048     1
2601.670000     1
2595.396190     1
               ..
758.012381      1
745.943333      1
738.867826      1
734.991429      1
15814.932860    1
Length: 499, dtype: int64
disposable_income
5096.9               2
12117.0              2
4965.0               1
11560.4              1
11538.6              1
                    ..
7481.7               1
7475.5               1
7402.0               1
7401.7               1
19119.5              1
Length: 497, dtype: int64
Personal_consumption_expenditure
1826.8                              1
9847.2                              1
10034.1                             1
10004.1                             1
9996.4                              1
                                   ..
4669.5                              1
4646.0                              1
4632.6                              1
4585.1                              1
16954.5                             1
Length: 499, dtype: int64
personal_savings
7.6                 16
7.2                 15
8.6                 13
6.5                 13
6.6                 13
                    ..
11.2                 1
11.3                 1
11.4                 1
12.0                 1
33.8                 1
Length: 115, dtype: int64
Date
2010-04-04    2
2014-04-20    2
2004-04-11    2
2007-04-08    2
2017-04-16    2
             ..
2009-12-31    1
2009-12-25    1
2009-12-24    1
2009-11-26    1
2021-12-31    1
Length: 336, dtype: int64
Holiday
Labor Day Weekend              36
4th of July                    18
New Year's Day                 18
Washington's Birthday          18
Veterans Day                   18
Valentines Day                18
Thanksgiving Eve               18
Thanksgiving Day               18
New Years Eve                 18
Memorial Day                   18
Christmas Day                  18
Martin Luther King, Jr. Day    18
Labor Day                      18
Juneteenth                     18
Eastern Easter                 18
Columbus Day                   18
Christmas Eve                  18
Western Easter                 18
dtype: int64
WeekDay
Monday       109
Sunday        76
Saturday      40
Thursday      39
Wednesday     36
Friday        22
Tuesday       20
dtype: int64
Month
9        54
11       54
12       54
1        36
2        36
4        28
5        22
6        18
7        18
10       18
3         4
dtype: int64
Day
4      29
1      28
25     27
24     26
31     26
19     25
11     23
14     20
5      11
27      9
21      9
16      9
3       8
2       8
20      7
8       7
23      7
26      7
6       6
15      6
18      6
28      6
12      6
30      5
22      5
17      4
10      3
7       3
9       2
29      2
13      2
dtype: int64
Year
2004    19
2005    19
2020    19
2019    19
2018    19
2017    19
2016    19
2015    19
2014    19
2013    19
2012    19
2011    19
2010    19
2009    19
2008    19
2007    19
2006    19
2021    19
dtype: int64

# Part 3:- Hypotheses testing

Here are the null hypotheses I came up with
1) As inflation(both monthly and annual rates) rises, taxi profits will decrease due to there being fewer users.
2) There will be a spike of taxi users on holidays.
3) As disposable incomes increase, so will taxi rides.
4) As personal consumption expenditure increases, so will the number of taxi rides.
5) A lower unemployment rate will lead to more taxi rides due to more disposable income.
6) A lower mortgage rate will lead to more taxi rides since less money will be spent on mortgage repayment.

In [2118]:
#Creating a master dataset with each and every transaction
dfdg = df1.merge(df4, on= 'Transaction ID').merge(df3, on ='Customer ID').merge(df2, on = 'City')
dfdg.head(n= 20)

,Transaction ID,Company,City,KM Travelled,Price Charged,Cost of Trip,Date of Travel,Customer ID,Payment_Mode,Gender,Age,Income (USD/Month),Population,Users
0,10000011,Pink Cab,ATLANTA GA,30.45,370.95,313.6350,2016-01-08,29290,Card,Male,28,10813,"814,885","24,701"
1,10351127,Yellow Cab,ATLANTA GA,26.19,598.70,317.4228,2018-07-21,29290,Cash,Male,28,10813,"814,885","24,701"
2,10412921,Yellow Cab,ATLANTA GA,42.55,792.05,597.4020,2018-11-23,29290,Card,Male,28,10813,"814,885","24,701"
3,10000012,Pink Cab,ATLANTA GA,28.62,358.52,334.8540,2016-01-06,27703,Card,Male,27,9237,"814,885","24,701"
4,10320494,Yellow Cab,ATLANTA GA,36.38,721.10,467.1192,2018-04-21,27703,Card,Male,27,9237,"814,885","24,701"
5,10324737,Yellow Cab,ATLANTA GA,6.18,138.40,87.5088,2018-05-04,27703,Cash,Male,27,9237,"814,885","24,701"
6,10395626,Pink Cab,ATLANTA GA,13.39,167.03,141.9340,2018-10-27,27703,Card,Male,27,9237,"814,885","24,701"
7,10000013,Pink Cab,ATLANTA GA,9.04,125.20,97.6320,2016-01-02,28712,Cash,Male,53,11242,"814,885","24,701"
8,10079404,Yellow Cab,ATLANTA GA,39.60,704.30,494.2080,2016-09-21,28712,Card,Male,53,11242,"814,885","24,701"
9,10186994,Yellow Cab,ATLANTA GA,18.19,365.63,246.6564,2017-06-23,28712,Card,Male,53,11242,"814,885","24,701"
10,10320493,Yellow Cab,ATLANTA GA,19.38,326.35,272.0952,2018-04-21,28712,Cash,Male,53,11242,"814,885","24,701"
11,10000014,Pink Cab,ATLANTA GA,33.17,377.40,351.6020,2016-01-07,28020,Cash,Male,23,23327,"814,885","24,701"
12,10094994,Pink Cab,ATLANTA GA,41.44,522.14,484.8480,2016-10-27,28020,Cash,Male,23,23327,"814,885","24,701"
13,10140112,Yellow Cab,ATLANTA GA,24.72,515.66,323.3376,2017-01-27,28020,Card,Male,23,23327,"814,885","24,701"
14,10326470,Pink Cab,ATLANTA GA,34.00,451.19,408.0000,2018-05-11,28020,Cash,Male,23,23327,"814,885","24,701"
15,10000015,Pink Cab,ATLANTA GA,8.73,114.62,97.7760,2016-01-03,27182,Card,Male,33,8536,"814,885","24,701"
16,10099482,Yellow Cab,ATLANTA GA,10.90,191.13,132.1080,2016-11-06,27182,Card,Male,33,8536,"814,885","24,701"
17,10179732,Yellow Cab,ATLANTA GA,20.00,321.04,271.2000,2017-06-03,27182,Cash,Male,33,8536,"814,885","24,701"
18,10293463,Yellow Cab,ATLANTA GA,40.56,893.17,549.9936,2018-01-13,27182,Card,Male,33,8536,"814,885","24,701"
19,10000016,Pink Cab,ATLANTA GA,6.06,72.43,63.0240,2016-01-07,27318,Cash,Male,25,13984,"814,885","24,701"

In [2119]:
for x in df7['Date'], df6['date'], df5['Month']:
    for y in x:
        print(y) 
        print(type(y))

2004-07-04
<class 'str'>
2005-07-04
<class 'str'>
2006-07-04
<class 'str'>
2007-07-04
<class 'str'>
2008-07-04
<class 'str'>
2009-07-04
<class 'str'>
2010-07-04
<class 'str'>
2011-07-04
<class 'str'>
2012-07-04
<class 'str'>
2013-07-04
<class 'str'>
2014-07-04
<class 'str'>
2015-07-04
<class 'str'>
2016-07-04
<class 'str'>
2017-07-04
<class 'str'>
2018-07-04
<class 'str'>
2019-07-04
<class 'str'>
2020-07-04
<class 'str'>
2021-07-04
<class 'str'>
2004-12-25
<class 'str'>
2005-12-25
<class 'str'>
2006-12-25
<class 'str'>
2007-12-25
<class 'str'>
2008-12-25
<class 'str'>
2009-12-25
<class 'str'>
2010-12-25
<class 'str'>
2011-12-25
<class 'str'>
2012-12-25
<class 'str'>
2013-12-25
<class 'str'>
2014-12-25
<class 'str'>
2015-12-25
<class 'str'>
2016-12-25
<class 'str'>
2017-12-25
<class 'str'>
2018-12-25
<class 'str'>
2019-12-25
<class 'str'>
2020-12-25
<class 'str'>
2021-12-25
<class 'str'>
2004-12-24
<class 'str'>
2005-12-24
<class 'str'>
2006-12-24
<class 'str'>
2007-12-24
<class 'str'>
2008-12-24
<class 'str'>
2009-12-24
<class 'str'>
2010-12-24
<class 'str'>
2011-12-24
<class 'str'>
2012-12-24
<class 'str'>
2013-12-24
<class 'str'>
2014-12-24
<class 'str'>
2015-12-24
<class 'str'>
2016-12-24
<class 'str'>
2017-12-24
<class 'str'>
2018-12-24
<class 'str'>
2019-12-24
<class 'str'>
2020-12-24
<class 'str'>
2021-12-24
<class 'str'>
2007-10-08
<class 'str'>
2012-10-08
<class 'str'>
2018-10-08
<class 'str'>
2006-10-09
<class 'str'>
2017-10-09
<class 'str'>
2005-10-10
<class 'str'>
2011-10-10
<class 'str'>
2016-10-10
<class 'str'>
2004-10-11
<class 'str'>
2010-10-11
<class 'str'>
2021-10-11
<class 'str'>
2009-10-12
<class 'str'>
2015-10-12
<class 'str'>
2020-10-12
<class 'str'>
2008-10-13
<class 'str'>
2014-10-13
<class 'str'>
2013-10-14
<class 'str'>
2019-10-14
<class 'str'>
2010-04-04
<class 'str'>
2007-04-08
<class 'str'>
2018-04-08
<class 'str'>
2004-04-11
<class 'str'>
2015-04-12
<class 'str'>
2012-04-15
<class 'str'>
2017-04-16
<class 'str'>
2020-04-19
<class 'str'>
2009-04-19
<class 'str'>
2014-04-20
<class 'str'>
2006-04-23
<class 'str'>
2011-04-24
<class 'str'>
2008-04-27
<class 'str'>
2019-04-28
<class 'str'>
2021-05-02
<class 'str'>
2005-05-01
<class 'str'>
2016-05-01
<class 'str'>
2013-05-05
<class 'str'>
2020-06-19
<class 'str'>
2021-06-19
<class 'str'>
2004-06-19
<class 'str'>
2005-06-19
<class 'str'>
2006-06-19
<class 'str'>
2007-06-19
<class 'str'>
2008-06-19
<class 'str'>
2009-06-19
<class 'str'>
2010-06-19
<class 'str'>
2011-06-19
<class 'str'>
2012-06-19
<class 'str'>
2013-06-19
<class 'str'>
2014-06-19
<class 'str'>
2015-06-19
<class 'str'>
2016-06-19
<class 'str'>
2017-06-19
<class 'str'>
2018-06-19
<class 'str'>
2019-06-19
<class 'str'>
2008-09-01
<class 'str'>
2014-09-01
<class 'str'>
2013-09-02
<class 'str'>
2019-09-02
<class 'str'>
2007-09-03
<class 'str'>
2012-09-03
<class 'str'>
2018-09-03
<class 'str'>
2006-09-04
<class 'str'>
2017-09-04
<class 'str'>
2005-09-05
<class 'str'>
2011-09-05
<class 'str'>
2016-09-05
<class 'str'>
2004-09-06
<class 'str'>
2010-09-06
<class 'str'>
2021-09-06
<class 'str'>
2009-09-07
<class 'str'>
2015-09-07
<class 'str'>
2020-09-07
<class 'str'>
2008-08-30
<class 'str'>
2014-08-30
<class 'str'>
2008-08-31
<class 'str'>
2014-08-31
<class 'str'>
2013-08-31
<class 'str'>
2019-08-31
<class 'str'>
2013-09-01
<class 'str'>
2019-09-01
<class 'str'>
2007-09-01
<class 'str'>
2012-09-01
<class 'str'>
2018-09-01
<class 'str'>
2007-09-02
<class 'str'>
2012-09-02
<class 'str'>
2018-09-02
<class 'str'>
2006-09-02
<class 'str'>
2017-09-02
<class 'str'>
2006-09-03
<class 'str'>
2017-09-03
<class 'str'>
2005-09-03
<class 'str'>
2011-09-03
<class 'str'>
2016-09-03
<class 'str'>
2005-09-04
<class 'str'>
2011-09-04
<class 'str'>
2016-09-04
<class 'str'>
2004-09-04
<class 'str'>
2010-09-04
<class 'str'>
2021-09-04
<class 'str'>
2004-09-05
<class 'str'>
2010-09-05
<class 'str'>
2021-09-05
<class 'str'>
2009-09-05
<class 'str'>
2015-09-05
<class 'str'>
2020-09-05
<class 'str'>
2009-09-06
<class 'str'>
2015-09-06
<class 'str'>
2020-09-06
<class 'str'>
2007-01-15
<class 'str'>
2018-01-15
<class 'str'>
2006-01-16
<class 'str'>
2012-01-16
<class 'str'>
2017-01-16
<class 'str'>
2005-01-17
<class 'str'>
2011-01-17
<class 'str'>
2010-01-18
<class 'str'>
2016-01-18
<class 'str'>
2021-01-18
<class 'str'>
2004-01-19
<class 'str'>
2009-01-19
<class 'str'>
2015-01-19
<class 'str'>
2014-01-20
<class 'str'>
2020-01-20
<class 'str'>
2008-01-21
<class 'str'>
2013-01-21
<class 'str'>
2019-01-21
<class 'str'>
2009-05-25
<class 'str'>
2015-05-25
<class 'str'>
2020-05-25
<class 'str'>
2008-05-26
<class 'str'>
2014-05-26
<class 'str'>
2013-05-27
<class 'str'>
2019-05-27
<class 'str'>
2007-05-28
<class 'str'>
2012-05-28
<class 'str'>
2018-05-28
<class 'str'>
2006-05-29
<class 'str'>
2017-05-29
<class 'str'>
2005-05-30
<class 'str'>
2011-05-30
<class 'str'>
2016-05-30
<class 'str'>
2004-05-31
<class 'str'>
2010-05-31
<class 'str'>
2021-05-31
<class 'str'>
2012-01-01
<class 'str'>
2013-01-01
<class 'str'>
2014-01-01
<class 'str'>
2015-01-01
<class 'str'>
2016-01-01
<class 'str'>
2017-01-01
<class 'str'>
2018-01-01
<class 'str'>
2019-01-01
<class 'str'>
2020-01-01
<class 'str'>
2011-01-01
<class 'str'>
2004-01-01
<class 'str'>
2005-01-01
<class 'str'>
2006-01-01
<class 'str'>
2007-01-01
<class 'str'>
2008-01-01
<class 'str'>
2009-01-01
<class 'str'>
2010-01-01
<class 'str'>
2021-01-01
<class 'str'>
2004-12-31
<class 'str'>
2005-12-31
<class 'str'>
2006-12-31
<class 'str'>
2007-12-31
<class 'str'>
2008-12-31
<class 'str'>
2009-12-31
<class 'str'>
2010-12-31
<class 'str'>
2011-12-31
<class 'str'>
2012-12-31
<class 'str'>
2013-12-31
<class 'str'>
2014-12-31
<class 'str'>
2015-12-31
<class 'str'>
2016-12-31
<class 'str'>
2017-12-31
<class 'str'>
2018-12-31
<class 'str'>
2019-12-31
<class 'str'>
2020-12-31
<class 'str'>
2021-12-31
<class 'str'>
2007-11-22
<class 'str'>
2012-11-22
<class 'str'>
2018-11-22
<class 'str'>
2006-11-23
<class 'str'>
2017-11-23
<class 'str'>
2005-11-24
<class 'str'>
2011-11-24
<class 'str'>
2016-11-24
<class 'str'>
2004-11-25
<class 'str'>
2010-11-25
<class 'str'>
2021-11-25
<class 'str'>
2009-11-26
<class 'str'>
2015-11-26
<class 'str'>
2020-11-26
<class 'str'>
2008-11-27
<class 'str'>
2014-11-27
<class 'str'>
2013-11-28
<class 'str'>
2019-11-28
<class 'str'>
2007-11-21
<class 'str'>
2012-11-21
<class 'str'>
2018-11-21
<class 'str'>
2006-11-22
<class 'str'>
2017-11-22
<class 'str'>
2005-11-23
<class 'str'>
2011-11-23
<class 'str'>
2016-11-23
<class 'str'>
2004-11-24
<class 'str'>
2010-11-24
<class 'str'>
2021-11-24
<class 'str'>
2009-11-25
<class 'str'>
2015-11-25
<class 'str'>
2020-11-25
<class 'str'>
2008-11-26
<class 'str'>
2014-11-26
<class 'str'>
2013-11-27
<class 'str'>
2019-11-27
<class 'str'>
2004-02-14
<class 'str'>
2005-02-14
<class 'str'>
2006-02-14
<class 'str'>
2007-02-14
<class 'str'>
2008-02-14
<class 'str'>
2009-02-14
<class 'str'>
2010-02-14
<class 'str'>
2011-02-14
<class 'str'>
2012-02-14
<class 'str'>
2013-02-14
<class 'str'>
2014-02-14
<class 'str'>
2015-02-14
<class 'str'>
2016-02-14
<class 'str'>
2017-02-14
<class 'str'>
2018-02-14
<class 'str'>
2019-02-14
<class 'str'>
2020-02-14
<class 'str'>
2021-02-14
<class 'str'>
2004-11-11
<class 'str'>
2005-11-11
<class 'str'>
2006-11-11
<class 'str'>
2007-11-11
<class 'str'>
2008-11-11
<class 'str'>
2009-11-11
<class 'str'>
2010-11-11
<class 'str'>
2011-11-11
<class 'str'>
2012-11-11
<class 'str'>
2013-11-11
<class 'str'>
2014-11-11
<class 'str'>
2015-11-11
<class 'str'>
2016-11-11
<class 'str'>
2017-11-11
<class 'str'>
2018-11-11
<class 'str'>
2019-11-11
<class 'str'>
2020-11-11
<class 'str'>
2021-11-11
<class 'str'>
2016-02-15
<class 'str'>
2015-02-16
<class 'str'>
2014-02-17
<class 'str'>
2020-02-17
<class 'str'>
2013-02-18
<class 'str'>
2019-02-18
<class 'str'>
2018-02-19
<class 'str'>
2012-02-20
<class 'str'>
2017-02-20
<class 'str'>
2011-02-21
<class 'str'>
2010-02-15
<class 'str'>
2021-02-15
<class 'str'>
2004-02-16
<class 'str'>
2009-02-16
<class 'str'>
2008-02-18
<class 'str'>
2007-02-19
<class 'str'>
2006-02-20
<class 'str'>
2005-02-21
<class 'str'>
2008-03-23
<class 'str'>
2005-03-27
<class 'str'>
2016-03-27
<class 'str'>
2013-03-31
<class 'str'>
2018-04-01
<class 'str'>
2010-04-04
<class 'str'>
2021-04-04
<class 'str'>
2015-04-05
<class 'str'>
2007-04-08
<class 'str'>
2012-04-08
<class 'str'>
2004-04-11
<class 'str'>
2009-04-12
<class 'str'>
2020-04-12
<class 'str'>
2006-04-16
<class 'str'>
2017-04-16
<class 'str'>
2014-04-20
<class 'str'>
2019-04-21
<class 'str'>
2011-04-24
<class 'str'>
11/1/1980
<class 'str'>
12/1/1980
<class 'str'>
1/1/1981
<class 'str'>
2/1/1981
<class 'str'>
3/1/1981
<class 'str'>
4/1/1981
<class 'str'>
5/1/1981
<class 'str'>
6/1/1981
<class 'str'>
7/1/1981
<class 'str'>
8/1/1981
<class 'str'>
9/1/1981
<class 'str'>
10/1/1981
<class 'str'>
11/1/1981
<class 'str'>
12/1/1981
<class 'str'>
1/1/1982
<class 'str'>
2/1/1982
<class 'str'>
3/1/1982
<class 'str'>
4/1/1982
<class 'str'>
5/1/1982
<class 'str'>
6/1/1982
<class 'str'>
7/1/1982
<class 'str'>
8/1/1982
<class 'str'>
9/1/1982
<class 'str'>
10/1/1982
<class 'str'>
11/1/1982
<class 'str'>
12/1/1982
<class 'str'>
1/1/1983
<class 'str'>
2/1/1983
<class 'str'>
3/1/1983
<class 'str'>
4/1/1983
<class 'str'>
5/1/1983
<class 'str'>
6/1/1983
<class 'str'>
7/1/1983
<class 'str'>
8/1/1983
<class 'str'>
9/1/1983
<class 'str'>
10/1/1983
<class 'str'>
11/1/1983
<class 'str'>
12/1/1983
<class 'str'>
1/1/1984
<class 'str'>
2/1/1984
<class 'str'>
3/1/1984
<class 'str'>
4/1/1984
<class 'str'>
5/1/1984
<class 'str'>
6/1/1984
<class 'str'>
7/1/1984
<class 'str'>
8/1/1984
<class 'str'>
9/1/1984
<class 'str'>
10/1/1984
<class 'str'>
11/1/1984
<class 'str'>
12/1/1984
<class 'str'>
1/1/1985
<class 'str'>
2/1/1985
<class 'str'>
3/1/1985
<class 'str'>
4/1/1985
<class 'str'>
5/1/1985
<class 'str'>
6/1/1985
<class 'str'>
7/1/1985
<class 'str'>
8/1/1985
<class 'str'>
9/1/1985
<class 'str'>
10/1/1985
<class 'str'>
11/1/1985
<class 'str'>
12/1/1985
<class 'str'>
1/1/1986
<class 'str'>
2/1/1986
<class 'str'>
3/1/1986
<class 'str'>
4/1/1986
<class 'str'>
5/1/1986
<class 'str'>
6/1/1986
<class 'str'>
7/1/1986
<class 'str'>
8/1/1986
<class 'str'>
9/1/1986
<class 'str'>
10/1/1986
<class 'str'>
11/1/1986
<class 'str'>
12/1/1986
<class 'str'>
1/1/1987
<class 'str'>
2/1/1987
<class 'str'>
3/1/1987
<class 'str'>
4/1/1987
<class 'str'>
5/1/1987
<class 'str'>
6/1/1987
<class 'str'>
7/1/1987
<class 'str'>
8/1/1987
<class 'str'>
9/1/1987
<class 'str'>
10/1/1987
<class 'str'>
11/1/1987
<class 'str'>
12/1/1987
<class 'str'>
1/1/1988
<class 'str'>
2/1/1988
<class 'str'>
3/1/1988
<class 'str'>
4/1/1988
<class 'str'>
5/1/1988
<class 'str'>
6/1/1988
<class 'str'>
7/1/1988
<class 'str'>
8/1/1988
<class 'str'>
9/1/1988
<class 'str'>
10/1/1988
<class 'str'>
11/1/1988
<class 'str'>
12/1/1988
<class 'str'>
1/1/1989
<class 'str'>
2/1/1989
<class 'str'>
3/1/1989
<class 'str'>
4/1/1989
<class 'str'>
5/1/1989
<class 'str'>
6/1/1989
<class 'str'>
7/1/1989
<class 'str'>
8/1/1989
<class 'str'>
9/1/1989
<class 'str'>
10/1/1989
<class 'str'>
11/1/1989
<class 'str'>
12/1/1989
<class 'str'>
1/1/1990
<class 'str'>
2/1/1990
<class 'str'>
3/1/1990
<class 'str'>
4/1/1990
<class 'str'>
5/1/1990
<class 'str'>
6/1/1990
<class 'str'>
7/1/1990
<class 'str'>
8/1/1990
<class 'str'>
9/1/1990
<class 'str'>
10/1/1990
<class 'str'>
11/1/1990
<class 'str'>
12/1/1990
<class 'str'>
1/1/1991
<class 'str'>
2/1/1991
<class 'str'>
3/1/1991
<class 'str'>
4/1/1991
<class 'str'>
5/1/1991
<class 'str'>
6/1/1991
<class 'str'>
7/1/1991
<class 'str'>
8/1/1991
<class 'str'>
9/1/1991
<class 'str'>
10/1/1991
<class 'str'>
11/1/1991
<class 'str'>
12/1/1991
<class 'str'>
1/1/1992
<class 'str'>
2/1/1992
<class 'str'>
3/1/1992
<class 'str'>
4/1/1992
<class 'str'>
5/1/1992
<class 'str'>
6/1/1992
<class 'str'>
7/1/1992
<class 'str'>
8/1/1992
<class 'str'>
9/1/1992
<class 'str'>
10/1/1992
<class 'str'>
11/1/1992
<class 'str'>
12/1/1992
<class 'str'>
1/1/1993
<class 'str'>
2/1/1993
<class 'str'>
3/1/1993
<class 'str'>
4/1/1993
<class 'str'>
5/1/1993
<class 'str'>
6/1/1993
<class 'str'>
7/1/1993
<class 'str'>
8/1/1993
<class 'str'>
9/1/1993
<class 'str'>
10/1/1993
<class 'str'>
11/1/1993
<class 'str'>
12/1/1993
<class 'str'>
1/1/1994
<class 'str'>
2/1/1994
<class 'str'>
3/1/1994
<class 'str'>
4/1/1994
<class 'str'>
5/1/1994
<class 'str'>
6/1/1994
<class 'str'>
7/1/1994
<class 'str'>
8/1/1994
<class 'str'>
9/1/1994
<class 'str'>
10/1/1994
<class 'str'>
11/1/1994
<class 'str'>
12/1/1994
<class 'str'>
1/1/1995
<class 'str'>
2/1/1995
<class 'str'>
3/1/1995
<class 'str'>
4/1/1995
<class 'str'>
5/1/1995
<class 'str'>
6/1/1995
<class 'str'>
7/1/1995
<class 'str'>
8/1/1995
<class 'str'>
9/1/1995
<class 'str'>
10/1/1995
<class 'str'>
11/1/1995
<class 'str'>
12/1/1995
<class 'str'>
1/1/1996
<class 'str'>
2/1/1996
<class 'str'>
3/1/1996
<class 'str'>
4/1/1996
<class 'str'>
5/1/1996
<class 'str'>
6/1/1996
<class 'str'>
7/1/1996
<class 'str'>
8/1/1996
<class 'str'>
9/1/1996
<class 'str'>
10/1/1996
<class 'str'>
11/1/1996
<class 'str'>
12/1/1996
<class 'str'>
1/1/1997
<class 'str'>
2/1/1997
<class 'str'>
3/1/1997
<class 'str'>
4/1/1997
<class 'str'>
5/1/1997
<class 'str'>
6/1/1997
<class 'str'>
7/1/1997
<class 'str'>
8/1/1997
<class 'str'>
9/1/1997
<class 'str'>
10/1/1997
<class 'str'>
11/1/1997
<class 'str'>
12/1/1997
<class 'str'>
1/1/1998
<class 'str'>
2/1/1998
<class 'str'>
3/1/1998
<class 'str'>
4/1/1998
<class 'str'>
5/1/1998
<class 'str'>
6/1/1998
<class 'str'>
7/1/1998
<class 'str'>
8/1/1998
<class 'str'>
9/1/1998
<class 'str'>
10/1/1998
<class 'str'>
11/1/1998
<class 'str'>
12/1/1998
<class 'str'>
1/1/1999
<class 'str'>
2/1/1999
<class 'str'>
3/1/1999
<class 'str'>
4/1/1999
<class 'str'>
5/1/1999
<class 'str'>
6/1/1999
<class 'str'>
7/1/1999
<class 'str'>
8/1/1999
<class 'str'>
9/1/1999
<class 'str'>
10/1/1999
<class 'str'>
11/1/1999
<class 'str'>
12/1/1999
<class 'str'>
1/1/2000
<class 'str'>
2/1/2000
<class 'str'>
3/1/2000
<class 'str'>
4/1/2000
<class 'str'>
5/1/2000
<class 'str'>
6/1/2000
<class 'str'>
7/1/2000
<class 'str'>
8/1/2000
<class 'str'>
9/1/2000
<class 'str'>
10/1/2000
<class 'str'>
11/1/2000
<class 'str'>
12/1/2000
<class 'str'>
1/1/2001
<class 'str'>
2/1/2001
<class 'str'>
3/1/2001
<class 'str'>
4/1/2001
<class 'str'>
5/1/2001
<class 'str'>
6/1/2001
<class 'str'>
7/1/2001
<class 'str'>
8/1/2001
<class 'str'>
9/1/2001
<class 'str'>
10/1/2001
<class 'str'>
11/1/2001
<class 'str'>
12/1/2001
<class 'str'>
1/1/2002
<class 'str'>
2/1/2002
<class 'str'>
3/1/2002
<class 'str'>
4/1/2002
<class 'str'>
5/1/2002
<class 'str'>
6/1/2002
<class 'str'>
7/1/2002
<class 'str'>
8/1/2002
<class 'str'>
9/1/2002
<class 'str'>
10/1/2002
<class 'str'>
11/1/2002
<class 'str'>
12/1/2002
<class 'str'>
1/1/2003
<class 'str'>
2/1/2003
<class 'str'>
3/1/2003
<class 'str'>
4/1/2003
<class 'str'>
5/1/2003
<class 'str'>
6/1/2003
<class 'str'>
7/1/2003
<class 'str'>
8/1/2003
<class 'str'>
9/1/2003
<class 'str'>
10/1/2003
<class 'str'>
11/1/2003
<class 'str'>
12/1/2003
<class 'str'>
1/1/2004
<class 'str'>
2/1/2004
<class 'str'>
3/1/2004
<class 'str'>
4/1/2004
<class 'str'>
5/1/2004
<class 'str'>
6/1/2004
<class 'str'>
7/1/2004
<class 'str'>
8/1/2004
<class 'str'>
9/1/2004
<class 'str'>
10/1/2004
<class 'str'>
11/1/2004
<class 'str'>
12/1/2004
<class 'str'>
1/1/2005
<class 'str'>
2/1/2005
<class 'str'>
3/1/2005
<class 'str'>
4/1/2005
<class 'str'>
5/1/2005
<class 'str'>
6/1/2005
<class 'str'>
7/1/2005
<class 'str'>
8/1/2005
<class 'str'>
9/1/2005
<class 'str'>
10/1/2005
<class 'str'>
11/1/2005
<class 'str'>
12/1/2005
<class 'str'>
1/1/2006
<class 'str'>
2/1/2006
<class 'str'>
3/1/2006
<class 'str'>
4/1/2006
<class 'str'>
5/1/2006
<class 'str'>
6/1/2006
<class 'str'>
7/1/2006
<class 'str'>
8/1/2006
<class 'str'>
9/1/2006
<class 'str'>
10/1/2006
<class 'str'>
11/1/2006
<class 'str'>
12/1/2006
<class 'str'>
1/1/2007
<class 'str'>
2/1/2007
<class 'str'>
3/1/2007
<class 'str'>
4/1/2007
<class 'str'>
5/1/2007
<class 'str'>
6/1/2007
<class 'str'>
7/1/2007
<class 'str'>
8/1/2007
<class 'str'>
9/1/2007
<class 'str'>
10/1/2007
<class 'str'>
11/1/2007
<class 'str'>
12/1/2007
<class 'str'>
1/1/2008
<class 'str'>
2/1/2008
<class 'str'>
3/1/2008
<class 'str'>
4/1/2008
<class 'str'>
5/1/2008
<class 'str'>
6/1/2008
<class 'str'>
7/1/2008
<class 'str'>
8/1/2008
<class 'str'>
9/1/2008
<class 'str'>
10/1/2008
<class 'str'>
11/1/2008
<class 'str'>
12/1/2008
<class 'str'>
1/1/2009
<class 'str'>
2/1/2009
<class 'str'>
3/1/2009
<class 'str'>
4/1/2009
<class 'str'>
5/1/2009
<class 'str'>
6/1/2009
<class 'str'>
7/1/2009
<class 'str'>
8/1/2009
<class 'str'>
9/1/2009
<class 'str'>
10/1/2009
<class 'str'>
11/1/2009
<class 'str'>
12/1/2009
<class 'str'>
1/1/2010
<class 'str'>
2/1/2010
<class 'str'>
3/1/2010
<class 'str'>
4/1/2010
<class 'str'>
5/1/2010
<class 'str'>
6/1/2010
<class 'str'>
7/1/2010
<class 'str'>
8/1/2010
<class 'str'>
9/1/2010
<class 'str'>
10/1/2010
<class 'str'>
11/1/2010
<class 'str'>
12/1/2010
<class 'str'>
1/1/2011
<class 'str'>
2/1/2011
<class 'str'>
3/1/2011
<class 'str'>
4/1/2011
<class 'str'>
5/1/2011
<class 'str'>
6/1/2011
<class 'str'>
7/1/2011
<class 'str'>
8/1/2011
<class 'str'>
9/1/2011
<class 'str'>
10/1/2011
<class 'str'>
11/1/2011
<class 'str'>
12/1/2011
<class 'str'>
1/1/2012
<class 'str'>
2/1/2012
<class 'str'>
3/1/2012
<class 'str'>
4/1/2012
<class 'str'>
5/1/2012
<class 'str'>
6/1/2012
<class 'str'>
7/1/2012
<class 'str'>
8/1/2012
<class 'str'>
9/1/2012
<class 'str'>
10/1/2012
<class 'str'>
11/1/2012
<class 'str'>
12/1/2012
<class 'str'>
1/1/2013
<class 'str'>
2/1/2013
<class 'str'>
3/1/2013
<class 'str'>
4/1/2013
<class 'str'>
5/1/2013
<class 'str'>
6/1/2013
<class 'str'>
7/1/2013
<class 'str'>
8/1/2013
<class 'str'>
9/1/2013
<class 'str'>
10/1/2013
<class 'str'>
11/1/2013
<class 'str'>
12/1/2013
<class 'str'>
1/1/2014
<class 'str'>
2/1/2014
<class 'str'>
3/1/2014
<class 'str'>
4/1/2014
<class 'str'>
5/1/2014
<class 'str'>
6/1/2014
<class 'str'>
7/1/2014
<class 'str'>
8/1/2014
<class 'str'>
9/1/2014
<class 'str'>
10/1/2014
<class 'str'>
11/1/2014
<class 'str'>
12/1/2014
<class 'str'>
1/1/2015
<class 'str'>
2/1/2015
<class 'str'>
3/1/2015
<class 'str'>
4/1/2015
<class 'str'>
5/1/2015
<class 'str'>
6/1/2015
<class 'str'>
7/1/2015
<class 'str'>
8/1/2015
<class 'str'>
9/1/2015
<class 'str'>
10/1/2015
<class 'str'>
11/1/2015
<class 'str'>
12/1/2015
<class 'str'>
1/1/2016
<class 'str'>
2/1/2016
<class 'str'>
3/1/2016
<class 'str'>
4/1/2016
<class 'str'>
5/1/2016
<class 'str'>
6/1/2016
<class 'str'>
7/1/2016
<class 'str'>
8/1/2016
<class 'str'>
9/1/2016
<class 'str'>
10/1/2016
<class 'str'>
11/1/2016
<class 'str'>
12/1/2016
<class 'str'>
1/1/2017
<class 'str'>
2/1/2017
<class 'str'>
3/1/2017
<class 'str'>
4/1/2017
<class 'str'>
5/1/2017
<class 'str'>
6/1/2017
<class 'str'>
7/1/2017
<class 'str'>
8/1/2017
<class 'str'>
9/1/2017
<class 'str'>
10/1/2017
<class 'str'>
11/1/2017
<class 'str'>
12/1/2017
<class 'str'>
1/1/2018
<class 'str'>
2/1/2018
<class 'str'>
3/1/2018
<class 'str'>
4/1/2018
<class 'str'>
5/1/2018
<class 'str'>
6/1/2018
<class 'str'>
7/1/2018
<class 'str'>
8/1/2018
<class 'str'>
9/1/2018
<class 'str'>
10/1/2018
<class 'str'>
11/1/2018
<class 'str'>
12/1/2018
<class 'str'>
1/1/2019
<class 'str'>
2/1/2019
<class 'str'>
3/1/2019
<class 'str'>
4/1/2019
<class 'str'>
5/1/2019
<class 'str'>
6/1/2019
<class 'str'>
7/1/2019
<class 'str'>
8/1/2019
<class 'str'>
9/1/2019
<class 'str'>
10/1/2019
<class 'str'>
11/1/2019
<class 'str'>
12/1/2019
<class 'str'>
1/1/2020
<class 'str'>
2/1/2020
<class 'str'>
3/1/2020
<class 'str'>
4/1/2020
<class 'str'>
5/1/2020
<class 'str'>
6/1/2020
<class 'str'>
7/1/2020
<class 'str'>
8/1/2020
<class 'str'>
9/1/2020
<class 'str'>
10/1/2020
<class 'str'>
11/1/2020
<class 'str'>
12/1/2020
<class 'str'>
1/1/2021
<class 'str'>
2/1/2021
<class 'str'>
3/1/2021
<class 'str'>
4/1/2021
<class 'str'>
5/1/2021
<class 'str'>
6/1/2021
<class 'str'>
7/1/2021
<class 'str'>
8/1/2021
<class 'str'>
9/1/2021
<class 'str'>
10/1/2021
<class 'str'>
11/1/2021

In [2120]:
from datetime import datetime

#Converting the date objects which are strings to date types 
#Creating empty lists
y1 = []
y2 = []
y3 = []

#Appending the date values to these lists
for x in df5['Month']:   
    a = datetime.strptime(x, "%y-%b") 
    y3.append(a)

#Appending the date values to these lists
for x in df6['date']:   
    a = datetime.strptime(x, "%m/%d/%Y") 
    y1.append(a)

#Appending the date values to these lists
for x in df7['Date']:   
    a = datetime.strptime(x, "%Y-%m-%d") 
    b = a.strftime("%Y-%m")
    c = datetime.strptime(b, "%Y-%m")
    y2.append(c)

#Dropping the dates of travel for these columns
df5 = df5.drop(columns='Month', axis=1)    
df6 = df6.drop(columns='date', axis=1)
df7 = df7.drop(columns='Date', axis=1)

#Adding new columns to the dataframe
df5['Month'] = pd.Series(y3)
df6['date'] = pd.Series(y1)
df7['Date'] = pd.Series(y2)

#Replacing the old data frames with new ones
extdfs.pop(0)
extdfs.insert(0, df5)
extdfs.insert(0, df6)
extdfs.insert(0, df7)

#Viewing the dataframes
print(df5)
print(df6)
print(df7)

     Monthly Inflation Rate  Annual Inflation Rate      Month
0                       0.1                    5.0 2023-03-01
1                       0.4                    6.0 2023-02-01
2                       0.5                    6.4 2023-01-01
3                       0.1                    6.5 2022-12-01
4                       0.2                    7.1 2022-11-01
..                      ...                    ...        ...
118                     0.0                    1.4 2013-05-01
119                    -0.2                    1.1 2013-04-01
120                    -0.3                    1.5 2013-03-01
121                     0.5                    2.0 2013-02-01
122                     0.2                    1.6 2013-01-01

[123 rows x 3 columns]
         CPI  Mortgage_rate  Unemp_rate        NASDAQ  disposable_income  \
0     85.600        14.2050         7.5    200.685556             4976.5
1     86.400        14.7900         7.2    198.398636             4999.8
2     87.200        14.9040         7.5    198.817619             4980.4
3     88.000        15.1325         7.4    194.852105             4965.0
4     88.600        15.4000         7.4    203.593182             4979.0
..       ...            ...         ...           ...                ...
494  281.933         3.4450         4.0  14531.377500            15163.5
495  284.182         3.7625         3.8  13898.727890            15173.6
496  287.708         4.1720         3.6  13623.263040            15119.6
497  288.663         4.9825         3.6  13394.163000            15154.4
498  291.474         5.2300         3.6  11829.729520            15144.8

     Personal_consumption_expenditure  personal_savings       date
0                              1826.8              11.6 1980-11-01
1                              1851.7              11.4 1980-12-01
2                              1870.0              10.9 1981-01-01
3                              1884.2              10.8 1981-02-01
4                              1902.9              10.8 1981-03-01
..                                ...               ...        ...
494                           16543.3               5.8 2022-01-01
495                           16635.8               5.8 2022-02-01
496                           16831.2               5.3 2022-03-01
497                           16911.2               5.2 2022-04-01
498                           16954.5               5.4 2022-05-01

[499 rows x 8 columns]
            Holiday    WeekDay  Month  Day  Year       Date
0       4th of July     Sunday      7    4  2004 2004-07-01
1       4th of July     Monday      7    4  2005 2005-07-01
2       4th of July    Tuesday      7    4  2006 2006-07-01
3       4th of July  Wednesday      7    4  2007 2007-07-01
4       4th of July     Friday      7    4  2008 2008-07-01
..              ...        ...    ...  ...   ...        ...
337  Western Easter     Sunday      4   16  2006 2006-04-01
338  Western Easter     Sunday      4   16  2017 2017-04-01
339  Western Easter     Sunday      4   20  2014 2014-04-01
340  Western Easter     Sunday      4   21  2019 2019-04-01
341  Western Easter     Sunday      4   24  2011 2011-04-01

[342 rows x 6 columns]

In [2121]:
#Creating a master dataset with each and every month
#Firstly, narrowing dates to the timeframe
df5narrowed = df5[(df5['Month']<datetime(2019,1,1)) & (df5['Month']>datetime(2016,1,30))] 
df6narrowed = df6[(df6['date']<datetime(2019,1,1)) & (df6['date']>datetime(2016,1,30))]
df7narrowed = df7[(df7['Date']<datetime(2019,1,1)) & (df7['Date']>datetime(2016,1,30))]
for x in df5narrowed, df6narrowed, df7narrowed:
    a = x.describe(include = 'datetime')
    print(a)

                      Month
count                    35
unique                   35
top     2018-12-01 00:00:00
freq                      1
first   2016-02-01 00:00:00
last    2018-12-01 00:00:00
                       date
count                    35
unique                   35
top     2016-02-01 00:00:00
freq                      1
first   2016-02-01 00:00:00
last    2018-12-01 00:00:00
                       Date
count                    55
unique                   29
top     2017-11-01 00:00:00
freq                      3
first   2016-02-01 00:00:00
last    2018-12-01 00:00:00

C:\Users\gbore\AppData\Local\Temp/ipykernel_7264/94720167.py:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  a = x.describe(include = 'datetime')
C:\Users\gbore\AppData\Local\Temp/ipykernel_7264/94720167.py:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  a = x.describe(include = 'datetime')
C:\Users\gbore\AppData\Local\Temp/ipykernel_7264/94720167.py:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  a = x.describe(include = 'datetime')

In [2122]:
from pandasql import sqldf

query = '''
SELECT * 
FROM df6narrowed
INNER JOIN df5narrowed
ON df6narrowed.date = df5narrowed.Month
'''

dfext = sqldf(query)
 
dfext = dfext.drop('Month', axis = 1)

dfext.head(n=20)

,CPI,Mortgage_rate,Unemp_rate,NASDAQ,disposable_income,Personal_consumption_expenditure,personal_savings,date,Monthly Inflation Rate,Annual Inflation Rate
0,237.336,3.6600,4.9,4463.206000,13546.1,12526.3,7.2,2016-02-01 00:00:00.000000,-0.1,1.0
1,238.080,3.6940,5.0,4754.479545,13547.2,12506.8,7.6,2016-03-01 00:00:00.000000,0.3,0.9
2,238.992,3.6050,5.1,4892.168095,13522.0,12586.0,7.2,2016-04-01 00:00:00.000000,0.4,1.1
3,239.557,3.6000,4.8,4788.235238,13515.1,12624.4,6.9,2016-05-01 00:00:00.000000,0.2,1.0
4,240.222,3.5680,4.9,4856.232273,13521.5,12701.7,6.6,2016-06-01 00:00:00.000000,0.3,1.0
5,240.101,3.4400,4.8,5023.989000,13567.1,12720.6,6.8,2016-07-01 00:00:00.000000,-0.1,0.8
6,240.545,3.4350,4.9,5217.038261,13578.9,12749.8,6.8,2016-08-01 00:00:00.000000,0.2,1.1
7,241.176,3.4600,5.0,5254.154286,13608.3,12806.8,6.8,2016-09-01 00:00:00.000000,0.3,1.5
8,241.741,3.4700,4.9,5255.989048,13627.7,12828.1,6.9,2016-10-01 00:00:00.000000,0.2,1.6
9,242.026,3.7700,4.7,5260.565238,13657.8,12853.6,7.0,2016-11-01 00:00:00.000000,0.1,1.7
10,242.637,4.1980,4.7,5413.116667,13685.3,12962.9,6.5,2016-12-01 00:00:00.000000,0.3,2.1
11,243.618,4.1500,4.7,5561.423500,13742.1,13015.1,6.9,2017-01-01 00:00:00.000000,0.4,2.5
12,244.006,4.1675,4.6,5764.702105,13792.3,13034.7,7.2,2017-02-01 00:00:00.000000,0.2,2.7
13,243.892,4.1960,4.4,5864.963913,13851.3,13089.6,7.2,2017-03-01 00:00:00.000000,0.0,2.4
14,244.193,4.0450,4.4,5912.169474,13869.6,13127.7,7.2,2017-04-01 00:00:00.000000,0.1,2.2
15,244.004,4.0100,4.4,6124.878182,13962.6,13128.7,7.8,2017-05-01 00:00:00.000000,-0.1,1.9
16,244.163,3.9040,4.3,6224.285909,13963.5,13176.8,7.5,2017-06-01 00:00:00.000000,0.1,1.6
17,244.243,3.9675,4.3,6294.674000,13999.9,13198.3,7.6,2017-07-01 00:00:00.000000,0.0,1.7
18,245.183,3.8800,4.4,6311.397391,14015.8,13241.0,7.6,2017-08-01 00:00:00.000000,0.4,1.9
19,246.435,3.8050,4.3,6428.079000,14030.9,13365.1,7.3,2017-09-01 00:00:00.000000,0.5,2.2